

body{
    background-color: 
    #0d1216;
}



#Font{
    color: white;
    font-family: 'Anonymous Pro', monospace;

}
/* CSS */
@media screen and (min-width: 1000px) {

  .row > * {
    margin-left: 5px;
    margin-right: 5px;
  }
}


.btn {
    width: 30px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    outline: 2px solid rgb(240, 241, 245);
    box-shadow: 0px 0px 10px rgb(105, 127, 255);
    position: relative;
  }
  
  .scroll {
    width: 5px;
    height: 10px;
    border-radius: 10px;
    background-color: rgb(236, 237, 243);
    box-shadow: 0px 0px 10px rgb(105, 127, 255);
    animation: scroll_4013 2s linear infinite;
    transform: translateY(40%);
  }
  
  .btn:after {
    content: 'scroll';
    position: absolute;
    font-family: 'Anonymous Pro', monospace;
    top: 120%;
    
    color: whitesmoke;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }
  
  @keyframes scroll_4013 {
    0% {
      transform: translateY(40%);
    }
  
    50% {
      transform: translateY(90%);
    }
  };



